
.containers{
    position: absolute;

height: 218%;
width: 100%;
display: grid;
grid-template-columns: 500px 500px 490px;
grid-template-rows: 500px 500px 500px;
row-gap: 5px;
column-gap:5px;

}
.item{
    height: 145px;
    width: 145px;
  
}